{# templates/list/index.html.twig #} {% extends 'base.html.twig' %} {% block
body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark text-white mb-3 mt-3">
        <div class="card-body">
          <div class="card-header">Diferents opcions d'oci aplicables:</div>
          {% if app.user != null %}
          {% endif %}
        </div>
      </div>
          {% if app.user != null %}
            <h4>Hola!, {{ app.user }}</h4>
          {% endif %}
      <div class="card bg-dark text-white mb-3 mt-3">
        <div class="card-body">
          {{ form_start(form) }}
          {{ form_widget(form) }}
          {{ form_end(form) }}

          {% if content_cine is defined and content_cine is not null %}
            {% for film in content_cine %}
              <h5><li>
                  Nom: {{ film.name }} 
                  | Gènere: {{ film.genero }} 
                  | Descripció: {{ film.descripcion }}   
              <h5></li>
            {% endfor %}
          {% endif %}

          {% if content_horoscop is defined and content_horoscop is not null %}
            {% for signe in content_horoscop %}
              <h5><li>
                  Nom: {{ signe.sign }} 
                  Descripció: {{ signe.horoscope }} 
